{%- if reveal -%}
<div class="lat-input-group lat-reveal">
<input class="lat-input" type="password" id="{{ id }}" name="{{ name }}" autocomplete="new-password"{% if required %} required{% endif %}>
<button type="button" class="lat-input-group__btn lat-reveal__btn" data-lat-widget="reveal" aria-label="{{ show }}" aria-pressed="false" hidden></button>
</div>
{%- else -%}
<input class="lat-input" type="password" id="{{ id }}" name="{{ name }}" autocomplete="new-password"{% if required %} required{% endif %}>
{%- endif -%}
